
.jumbotron {
    position: relative;
    background: #ddd url("../images/background.jpg") center center;
    box-shadow: 0.3em 0.3em 0.3em black;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    text-shadow: black 0.2em 0.2em 0.2em;
}

body{
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 20px;
    color: #000000; 
    background-color: #e9eaed;
}

canvas{
    border-style: ridge;
}

#Notes, .post, .content{
  margin-top: 10px;
  background: #ffffff;
  padding: 10px;
  box-shadow: black 0.3em 0.3em 0.3em;
  margin-bottom: 10px;
  border-radius: 10px;
}

.embeddedItem{
  margin-top: 10px;
  background: #ffffff;
  padding: 10px;
  box-shadow: black 0.3em 0.3em 0.3em;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align:center;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.peopleCarouselImg img {
  width: auto;
  height: 225px;
  max-height: 225px;
}

.hideCellStyle{
	background-color: white;
	border-top: none !important;
	border-bottom: none !important;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  	display: none !important;
}

.blogNavigation .left{
  float: left;
}

.blogNavigation .right{
  float: right;
}