<!Doctype HTML>
<head>
	<title>Scholarsbowl Scoresheet</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div id = "header"></div>
<div class="container" data-ng-app="scholarsbowl" data-ng-controller="scoresheet" data-ng
-cloak>
	<div class="jumbotron text-center">
    <h1>Scholarsbowl Scoresheet</h1>
    </div>
	<div class="content">
		<form id="sheet">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover text-center">
					<thead>
						<tr>
							<td colspan="3">None</td>
							<td class="hideCellStyle"></td>
							<td colspan="6">{{teams[0].name}}</td>
							<td class="hideCellStyle"></td>
							<td colspan="6">{{teams[1].name}}</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Missed</td>
							<td>A</td>
							<td>B</td>
							<td class="hideCellStyle"></td>
							<td><select  data-ng-model="rounds[0].squads[0].players[0]" data-ng-options="member.name for member in teams[0].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[0].squads[0].players[1]" data-ng-options="member.name for member in teams[0].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[0].squads[0].players[2]" data-ng-options="member.name for member in teams[0].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[0].squads[0].players[3]" data-ng-options="member.name for member in teams[0].members track by member.id"></select></td>
							<td>A</td>
							<td>B</td>
							<td class="hideCellStyle"></td>
							<td><select  data-ng-model="rounds[0].squads[1].players[0]" data-ng-options="member.name for member in teams[1].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[0].squads[1].players[1]" data-ng-options="member.name for member in teams[1].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[0].squads[1].players[2]" data-ng-options="member.name for member in teams[1].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[0].squads[1].players[3]" data-ng-options="member.name for member in teams[1].members track by member.id"></select></td>
							<td>A</td>
							<td>B</td>
						</tr>
						<tr data-ng-repeat="question in rounds[0].questions">
							<td><input type="radio" name="question_{{question.id}}" value="-1" data-ng-model="question.playerId" required></td>
							<td><input type="radio" name="question_{{question.id}}A" value="-1" data-ng-model="question.bonusIdA" required></td>
							<td><input type="radio" name="quesiton_{{question.id}}B" value="-1" data-ng-model="question.bonusIdB" required></td>
							<td class="hideCellStyle"></td>
							<td data-ng-repeat="player in rounds[0].squads[0].players"><input type="radio" name="question_{{question.id}}" value="{{player.id}}" data-ng-model="question.playerId" required></td>
							<td><input type="radio" name="question_{{question.id}}A" value="{{teams[0].id}}" data-ng-model="question.bonusIdA" required></td>
							<td><input type="radio" name="quesiton_{{question.id}}B" value="{{teams[0].id}}" data-ng-model="question.bonusIdB" required></td>
							<td class="hideCellStyle">{{question.id+1}}</td>
							<td data-ng-repeat="player in rounds[0].squads[1].players"><input type="radio" name="question_{{question.id}}" value="{{player.id}}" data-ng-model="question.playerId" required></td>
							<td><input type="radio" name="question_{{question.id}}A" value="{{teams[1].id}}" data-ng-model="question.bonusIdA" required></td>
							<td><input type="radio" name="quesiton_{{question.id}}B" value="{{teams[1].id}}" data-ng-model="question.bonusIdB" required></td>
						</tr>
						<tr>
							<td data-ng-repeat="x in [0,1,2]"></td>
							<td class="hideCellStyle"></td>
							<td data-ng-repeat="player in rounds[0].squads[0].players">
								{{game.score(player,rounds[0].questions)}}
							</td>
							<td>{{game.bonusScoreA(teams[0],rounds[0].questions)}}</td>
							<td>{{game.bonusScoreB(teams[0],rounds[0].questions)}}</td>
							<td class="hideCellStyle"></td>
							<td data-ng-repeat="player in rounds[0].squads[1].players">
								{{game.score(player,rounds[0].questions)}}
							</td>
							<td>{{game.bonusScoreA(teams[1],rounds[0].questions)}}</td>
							<td>{{game.bonusScoreB(teams[1],rounds[0].questions)}}</td>
						</tr>
						<tr>
							<td colspan="3">Worksheet</td>
							<td class="hideCellStyle"></td>
							<td colspan="6"><input type="number" data-ng-model="worksheet.scores[0]"></td>
							<td class="hideCellStyle"></td>
							<td colspan="6"><input type="number" data-ng-model="worksheet.scores[1]"></td>
						</tr>
						<tr>
							<td>Missed</td>
							<td>A</td>
							<td>B</td>
							<td class="hideCellStyle"></td>
							<td><select  data-ng-model="rounds[1].squads[0].players[0]" data-ng-options="member.name for member in teams[0].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[1].squads[0].players[1]" data-ng-options="member.name for member in teams[0].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[1].squads[0].players[2]" data-ng-options="member.name for member in teams[0].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[1].squads[0].players[3]" data-ng-options="member.name for member in teams[0].members track by member.id"></select></td>
							<td>A</td>
							<td>B</td>
							<td class="hideCellStyle"></td>
							<td><select  data-ng-model="rounds[1].squads[1].players[0]" data-ng-options="member.name for member in teams[1].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[1].squads[1].players[1]" data-ng-options="member.name for member in teams[1].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[1].squads[1].players[2]" data-ng-options="member.name for member in teams[1].members track by member.id"></select></td>
							<td><select  data-ng-model="rounds[1].squads[1].players[3]" data-ng-options="member.name for member in teams[1].members track by member.id"></select></td>
							<td>A</td>
							<td>B</td>
						</tr>			
						<tr data-ng-repeat="question in rounds[1].questions">
							<td><input type="radio" name="question_{{question.id}}" value="-1" data-ng-model="question.playerId" required></td>
							<td><input type="radio" name="question_{{question.id}}A" value="-1" data-ng-model="question.bonusIdA" required></td>
							<td><input type="radio" name="quesiton_{{question.id}}B" value="-1" data-ng-model="question.bonusIdB" required></td>
							<td class="hideCellStyle"></td>
							<td data-ng-repeat="player in rounds[1].squads[0].players"><input type="radio" name="question_{{question.id}}" value="{{player.id}}" data-ng-model="question.playerId" required></td>
							<td><input type="radio" name="question_{{question.id}}A" value="{{teams[0].id}}" data-ng-model="question.bonusIdA" required></td>
							<td><input type="radio" name="quesiton_{{question.id}}B" value="{{teams[0].id}}" data-ng-model="question.bonusIdB" required></td>
							<td class="hideCellStyle">{{question.id+1}}</td>
							<td data-ng-repeat="player in rounds[1].squads[1].players"><input type="radio" name="question_{{question.id}}" value="{{player.id}}" data-ng-model="question.playerId" required></td>
							<td><input type="radio" name="question_{{question.id}}A" value="{{teams[1].id}}" data-ng-model="question.bonusIdA" required></td>
							<td><input type="radio" name="quesiton_{{question.id}}B" value="{{teams[1].id}}" data-ng-model="question.bonusIdB" required></td>
						</tr>						
						<tr>
							<td data-ng-repeat="x in [0,1,2]"></td>
							<td class="hideCellStyle"></td>
							<td data-ng-repeat="player in rounds[1].squads[0].players">
								{{game.score(player,rounds[1].questions)}}
							</td>
							<td>{{game.bonusScoreA(teams[0],rounds[1].questions)}}</td>
							<td>{{game.bonusScoreB(teams[0],rounds[1].questions)}}</td>
							<td class="hideCellStyle"></td>
							<td data-ng-repeat="player in rounds[1].squads[1].players">
								{{game.score(player,rounds[1].questions)}}
							</td>
							<td>{{game.bonusScoreA(teams[1],rounds[1].questions)}}</td>
							<td>{{game.bonusScoreB(teams[1],rounds[1].questions)}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="3">Overall Scores</td>
							<td class="hideCellStyle"></td>
							<td colspan="6">{{game.teamScore(teams[0],questions,worksheet)}}</td>
							<td class="hideCellStyle"></td>
							<td colspan="6">{{game.teamScore(teams[1],questions,worksheet)}}</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<br>
			<a href="#" class="btn btn-success" id="summaryToggle">Summary Table</a>
			<a href="#" class="btn btn-info" id="nameToggle">Name Table</a>
			<a href="#" class="btn btn-info" id="teamNameToggle">Team Name Table</a>
		</form>
	</div>
	<div class="content table-responsive" id="nameTable" hidden>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<td>Player Id</td>
					<td>Player Name</td>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="player in players">
					<td>Player_{{player.id}}</td>
					<td><input type="text" ng-model="player.name"></input></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="content table-responsive" id="teamNameTable" hidden>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<td>Team Id</td>
					<td>Team Name</td>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="team in teams">
					<td>Team_{{letterFromNumber(team.id)}}</td>
					<td><input type="text" ng-model="team.name"></input></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="content table-responsive" id="summaryTable" hidden>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<td>Question #</td>
					<td>Player</td>
					<td>BonusA</td>
					<td>BonusB</td>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="question in questions">
					<td>{{(question.id + 1)}}</td>
					<td data-ng-if="question.playerId > -1">{{players[question.playerId].name}}</td><td data-ng-if="question.playerId < 0">None</td>
					<td data-ng-if="question.bonusIdA > -1">{{teams[question.bonusIdA].name}}</td><td data-ng-if="question.bonusIdA < 0">None</td>
					<td data-ng-if="question.bonusIdB > -1">{{teams[question.bonusIdB].name}}</td><td data-ng-if="question.bonusIdB < 0">None</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="../javascript/AngularJS/scholars_bowl.js"></script>
<script>
      $(function(){$("#header").load("../layouts/header.html");});
</script>
</body>
