<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index.html">Phillip Clontz's Portfolio</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Links
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/static_pages/about.html">About</a></li>
            <li><a href="/static_pages/contact.html">Contact</a></li> 
          </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">ProcessingJS
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/applets/blackjack.html">Blackjack</a></li>
            <li><a href="/applets/calculator.html">Calculator</a></li>
            <li><a href="/applets/connect4.html">Connect 4</a></li>
            <li><a href="/applets/game_of_life.html">Game of Life</a></li>
            <li><a href="/applets/geometry.html">Transformation Demo</a></li>
            <li><a href="/applets/minesweeper.html">Sweeping Mines</a></li>
            <li><a href="/applets/revenge.html">Khan's Revenge</a></li>
            <li><a href="/applets/wrestling.html">Wrestle Mania</a></li>
          </ul>
        </li>
     </ul>
    </div>
</nav>