<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/index.html">Phillip Clontz's Portfolio</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Main
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/static_pages/about.html">About</a></li>
            <li><a href="/static_pages/contact.html">Contact</a></li> 
            <li><a href="/static_pages/resume.html">Resume</a></li> 
          </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/static_pages/processing.html">ProcessingJS
          <span class="caret"></span></a>
        <ul class="dropdown-menu" id = "links">
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Rails Web Apps
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/webapps/friend_finder.html">HoC Friend Finder</a></li>
            <li><a href="/webapps/scavenger_hunt.html">Scavenger QR Hunt</a></li>
            <li><a href="/webapps/article_site.html">Article Site</a></li>
            <li><a href="/webapps/school_store.html">School Coffee Shop</a></li> 
          </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Angular Apps
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/angularJS/ScholarsBowl.html">Scholarsbowl Scoresheet</a></li>
          </ul>
      </li>
	  <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Raspberry Pi
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/python/StrangerLights.html">Stranger Lights</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown" href="https://www.geogebra.org/paclontz">Geogebra
      </li>
     </ul>
    </div>
</nav>
<script>
  $(function(){$("#links").load("/layouts/processing_list.html");});
</script>