<li><a href="/applets/blackjack.html">Blackjack</a></li>
<li><a href="/applets/calculator.html">Calculator</a></li>
<li><a href="/applets/connect4.html">Connect 4</a></li>
<li><a href="/applets/game_of_life.html">Game of Life</a></li>
<li><a href="/applets/geometry.html">Transformation Demo</a></li>
<li><a href="/applets/minesweeper.html">Sweeping Mines</a></li>
<li><a href="/applets/revenge.html">Khan's Revenge</a></li>
<li><a href="/applets/wrestling.html">Wrestle Mania</a></li>
<li><a href="/applets/boardgame.html">Bridges & Shortcuts</a></li>
<li><a href="/applets/trivia_game.html">Bridges & Shortcuts - Trivia</a></li>